In [ ]:
import tensorflow_hub as hub
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [ ]:
# Load pre-trained universal sentence encoder model
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/movie_dataset/movies_metadata.csv', low_memory=False)

In [ ]:
movies = movies.drop([19730, 29503, 35587])  # remove damaged data
movies['id'] = movies['id'].astype('int64')

In [ ]:
movies.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25051
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [ ]:
movies = movies[movies.overview.notna()]

In [ ]:
movies = movies.drop_duplicates(subset='overview')

In [ ]:
movies = movies[movies['overview'].str.len() > 50]

In [ ]:
movies = movies[movies['adult'] == 'False']

In [ ]:
movies = movies.reset_index(drop=True)

In [ ]:
embeddings = embed(movies['overview'])
embeddings

<tf.Tensor: shape=(43911, 512), dtype=float32, numpy=
array([[ 0.0623784 , -0.00021258, -0.03214182, ..., -0.02816204,
         0.06704462,  0.03110415],
       [ 0.01738841, -0.040174  ,  0.00191935, ..., -0.00705751,
         0.08162364,  0.03460284],
       [ 0.00079044,  0.03408437, -0.03159757, ..., -0.02167954,
         0.01332099,  0.0119028 ],
       ...,
       [ 0.00288407,  0.02441899,  0.00214455, ..., -0.050444  ,
         0.0576336 , -0.02168424],
       [-0.03068469,  0.03163631, -0.0301782 , ..., -0.04808713,
         0.04038424,  0.03479053],
       [ 0.06090392,  0.00747778,  0.0035212 , ..., -0.04336387,
        -0.00491572,  0.02921174]], dtype=float32)>

In [ ]:
k = 14
model = KMeans(n_clusters=k, init='k-means++', max_iter=10000, n_init=20)
model.fit(embeddings)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=10000,
       n_clusters=14, n_init=20, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [ ]:
# assign cluster number to movies
movies['cluster'] = model.labels_

# IMDB weighted average rating

In [ ]:
# Calculate mean of vote average column
C = movies['vote_average'].mean()
print(C)

# Calculate the minimum number of votes required to be in the chart, m
m = movies['vote_count'].quantile(0.90)
print(m)

# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

5.65314400236834
168.0

In [ ]:
movies['score'] = movies.apply(weighted_rating, axis=1)

# Sort movies and export final dataset

In [ ]:
# sort movies by cluster number
movies = movies.sort_values(by=['cluster','score'], ascending=[True, False])

In [ ]:
movies[movies.title == 'The Dark Knight']

       adult  ...     score
12388  False  ...  8.264246
28152  False  ...  5.660754

[2 rows x 26 columns]

In [ ]:
movies.to_csv('movies.csv')

# process and filter data

In [ ]:
from ast import literal_eval
from numpy import NaN

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/movies.csv', low_memory=False)
keywords = pd.read_csv('/content/drive/MyDrive/movie_dataset/keywords.csv')

In [ ]:
movies['genres'] = movies['genres'].apply(literal_eval)
keywords['keywords'] = keywords['keywords'].apply(literal_eval)

In [ ]:
def dict_to_list(dict_):
  return [x['name'].lower() for x in dict_]

In [ ]:
movies['genres'] = movies['genres'].apply(dict_to_list)
keywords['keywords'] = keywords['keywords'].apply(dict_to_list)

In [ ]:
movies.shape

(43911, 27)

In [ ]:
# join movies & keywords
merged = movies.join(keywords, on='id', rsuffix='_k')

In [ ]:
merged.head()

   Unnamed: 0  ...                                           keywords
0        1182  ...  [opium, loss of eyesight, biography, sioux, wi...
1       22472  ...                                                NaN
2       11233  ...  [male friendship, van, snack bar, soccer, unem...
3        2708  ...  [exotic island, treasure, map, ship, scalp, pi...
4         722  ...  [detective, arizona, ranch, boxer, boxing matc...

[5 rows x 29 columns]

In [ ]:
merged.columns

Index(['Unnamed: 0', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cluster', 'score', 'id_k', 'keywords'],
      dtype='object')

In [ ]:
# change nan to empty list []
merged['keywords'] = merged['keywords'].apply(lambda k: [] if k is NaN else k)

In [ ]:
merged = merged[['id', 'imdb_id', 'title', 'release_date', 'score', 'overview',  'genres', 'keywords', 'cluster']]

In [ ]:
merged = merged.rename(columns={'id': 'tmdb_id'})

In [ ]:
merged['release_date'] = pd.to_datetime(merged['release_date'])

### change genres & keywords lists to string

In [ ]:
merged['genres'] = merged['genres'].apply(lambda g: '|'.join(g))
merged['keywords'] = merged['keywords'].apply(lambda k: '|'.join(k))
merged.head()

   tmdb_id  ... cluster
0      207  ...       0
1   120467  ...       0
2     1422  ...       0
3       14  ...       0
4      935  ...       0

[5 rows x 9 columns]

In [ ]:
merged.isna().sum()

tmdb_id          0
imdb_id         15
title            2
release_date    67
score            2
overview         0
genres           0
keywords         0
cluster          0
dtype: int64

In [ ]:
merged[merged['title'].isna()]

       tmdb_id    imdb_id  ... keywords cluster
22048    82663  tt0113002  ...                6
32494   249260  tt2622826  ...               10

[2 rows x 9 columns]

In [ ]:
merged.at[22048, 'title'] = 'Midnight Man'
merged.at[32494, 'title'] = 'Avalanche Sharks'

In [ ]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43911 entries, 0 to 43910
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tmdb_id       43911 non-null  int64
 1   imdb_id       43896 non-null  object
 2   title         43911 non-null  object
 3   release_date  43844 non-null  datetime64[ns]
 4   score         43909 non-null  float64
 5   overview      43911 non-null  object
 6   genres        43911 non-null  object
 7   keywords      43911 non-null  object
 8   cluster       43911 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 3.0+ MB

In [ ]:
merged['cluster'].value_counts()

12    4364
1     4177
13    4130
4     3833
6     3330
0     3281
11    2922
8     2911
2     2712
3     2637
9     2572
7     2551
10    2412
5     2079
Name: cluster, dtype: int64

In [ ]:
merged = merged.reset_index(drop=True)

In [ ]:
merged.to_csv('movies.csv')